@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

:root {
  --primary-color: #1e1e2e;
  --text-color: #1e1e2e;
  --link-color: #f9e2af;
  --accent-color: #eba0ac;
  --terminal-symbol: #74c7ec;
  --overlay-color: #6c7086ae;
  --red: #f38ba8;
  --green: #a6e3a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Ubuntu Mono", monospace;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(56, 56, 56, 0.1),
    rgba(56, 56, 56, 0.75),
    rgba(56, 56, 56, 0.1)
  );
}

body {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 640px;
  height: 100vh;
  padding: 30px 30px 30px 30px;
}

.container-profile {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}

.container-profile img {
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.container-profile h1 {
  width: 100%;
  align-self: center;
  padding: 20px;
}

.container-bio {
  margin-top: 30px;
  margin-bottom: 35px;
}
.container-bio p {
  text-align: justify;
  margin-top: 10px;
}
.container-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 30px 0 30px 0;
  box-sizing: border-box;
}

button {
  width: 100%;
  height: 50px;
  text-align: left;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: none;
  transition: background 500ms, box-shadow 500ms;
}

button:hover {
  cursor: pointer;
  transition: ease background 500ms, box-shadow 500ms;
}

.btn-mail:hover {
  background-color: rgb(243, 139, 168);
  box-shadow: 0px 8px 15px rgba(243, 139, 168, 0.5);
}

.btn-linkedin:hover {
  background-color: rgb(116, 199, 236);
  box-shadow: 0px 8px 15px rgba(116, 199, 236, 0.5);
}

.btn-github:hover {
  background-color: rgb(152, 152, 163);
  box-shadow: 0px 8px 15px rgba(152, 152, 163, 0.5);
}

.btn-insta:hover {
  background-color: rgb(241, 180, 231);
  box-shadow: 0px 8px 15px rgba(241, 180, 231, 0.5);
}

.btn-discord:hover {
  background-color: rgb(202, 178, 251);
  box-shadow: 0px 8px 15px rgba(202, 178, 251, 0.5);
}

.btn-web:hover {
  background-color: rgb(214, 214, 214);
  box-shadow: 0px 8px 15px rgba(214, 214, 214, 0.5);
}

.container-footer {
  padding: 30px 0 30px 0;
  color: #525565d9;
  text-align: center;
}

/* Media Queries */
@media (max-width: 600px) {
  .container-btn {
    grid-template-columns: auto;
  }
}

@media (max-width: 390px) {
  .container-profile h1 {
    font-size: 28px;
  }
}
