@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

:root {
  --primary-color: #1e1e2e;
  --text-color: #cdd6f4;
  --link-color: #f9e2af;
  --accent-color: #eba0ac;
  --terminal-symbol: #74c7ec;
  --overlay-color: #6c7086;
  --red: #f38ba8;
  --green: #a6e3a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Ubuntu Mono", monospace;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

body {
  height: 100vh;
  background: url(assets/initial-d.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 500px;
  margin: auto;
}

.terminal-head {
  background-color: var(--overlay-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 70%);
  height: 20px;
  max-width: 500px;
  border-radius: 15px 15px 0 0;
  padding: 2.5px 10px;
}

.circle-1,
.circle-2,
.circle-3 {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.circle-1 {
  background-color: var(--red);
}
.circle-2 {
  background-color: var(--link-color);
}
.circle-3 {
  background-color: var(--green);
}

.terminal-screen {
  background-color: rgb(30, 30, 46, 70%);
  backdrop-filter: blur(10px) saturate(130%);
  border: solid 2px var(--overlay-color);
  border-top: none;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 70%);
  max-width: 500px;
  height: 600px;
  margin: auto;
  padding: 20px 20px;
}
.terminal-screen .row {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  margin-bottom: 15px;
  opacity: 0;
}

.row-1 {
  animation: fade 3s 0s forwards;
}

.row-2 {
  animation: fade 3s 1.5s forwards;
}

.row-3 {
  animation: fade 3s 2.5s forwards;
}

.row-4 {
  animation: fade 3s 3.5s forwards;
}

.row-5 {
  animation: fade 3s 4.5s forwards;
}

.row-6 {
  animation: fade 3s 5.5s forwards;
}

.terminal-screen .row i {
  font-size: 12px;
}

.terminal-screen .row .terminal-username {
  color: var(--accent-color);
}
.terminal-screen .row .terminal-accent {
  color: var(--terminal-symbol);
}

.terminal-screen .row img {
  border-radius: 15px;
}

/* Media Queries */
@media (max-width: 520px) {
  .terminal-screen,
  .terminal-head {
    margin: auto 1rem;
  }
}

/* Animation */
@keyframes fade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
